.home{
  position: absolute;bottom: 0;
}
.navbar-form{
  margin-top:8%;position:fixed;
}
.form-group{
  display:inline;
}

.input-group-btn{
  width:1%!important;
}
.sm{
  height:155px;
}
.lib{
  position: absolute;top: 0;right:50%;
}

  body {
  font-family: "Lato", sans-serif;
}
canvas{
margin-left:6%;
}
  a{
      margin-top: 5%;
  }
  #img{
      border-collapse: collapse;
      margin-top: 0%;
      margin-left: 0%
  }
  #img1{
      border-radius:50%;

  margin-top: -10%;
  }
  .fas fa-user-circle:before{
      margin-left: 10px;
  }
  .dot {
  height: 260px;
  width: 260px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#111111e3;
  overflow-x: hidden;
  padding-top: 20px;
  border-radius: 180px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #29abe3;

}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button
.active {
  background-color: #262626;
  color: white;
  font-size: 20px;
}*/

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #00000000;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}
  #head{
      font-size: 30px;
  }
.btn1{
background-color:#000;}
.butt{
margin:5px;
margin-left:10%;
      height:30%;
}
.fixed {
  position: fixed;
  top:0; left:0;
  width: 100%; }
  .img-circle:hover{
  opacity:0.5;
  }


      h4.branding {
font-size: 60px;
text-shadow:0 1px 0 #CCC,
0 2px 0 #C9C9C9,
0 3px 0 #BBB,
0 4px 0 #B9B9B9,
0 5px 0 #AAA,
0 6px 1px rgba(0, 0, 0, .1),
0 0 5px rgba(0, 0, 0, .1),
0 1px 3px rgba(0, 0, 0, .3),
0 3px 5px rgba(0, 0, 0, .2),
0 5px 10px rgba(0, 0, 0, .25),
0 10px 10px rgba(0, 0, 0, .2),
0 20px 20px rgba(0, 0, 0, .15);
color:white;
padding-left: 50%;
margin-top: 0px;
margin-bottom: -5%;
}

  .side-nav.fixed {
  margin-top: -45px;

  }

  canvas{
      width: 200px;
      height:200px;
  }
  /*image overlay*/
  .overlay {
position: absolute;
top: 94px;
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.5); /* Black see-through */
color: #f1f1f1;
width: 100%;
transition: .5s ease;
opacity:1;
color: white;
font-size: 20px;
padding: 20px;
text-align: center;
}

.img2.overlay {
opacity: 1;
}
.fas:before{
padding-right: 15px;
}
.car-brands-logo{
margin-top:15%;
margin-left:10%;
}
.logo{
width:100%;
}
.logo-sm{
width:80%;
}

.btn{
color:white;
}
.btn.focus, .btn:focus, .btn:hover {
  color: #333;
}
.temp_iframe{
border-radius: 20px;
border:10px solid #ffffff61;
}
.temp_iframe:hover{
  z-index:2;
  width:1300px;
          height:950px;
  -webkit-transition: all 500ms ease-in;
  -webkit-transform: scale(4);
  transition: all 500ms ease-in;
  transform: scale(1.5);
}
.blur {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
/*  max-width: 50%;*/
  max-height: 50%;
  padding: 20px 40px;
	margin-top: 15px;
}
.img-thumbnail{
	max-width: 35%;
}





label.toogle{
	position: relative;
	cursor: pointer;
	color: #666;
	font-size: 30px;
}



/*Check box*/
input[type="checkbox"] + .label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	color: #2980b9;
	animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
	color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
}

/*Radio box*/
input[type=radio]{
  opacity:0;
}
input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #8e44ad;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #ccc;
}

/*Radio Toggle*/

.toggle input[type="radio"] + .label-text:before{
	content: "\f204";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 10px;
}

.toggle input[type="radio"]:checked + .label-text:before{
	content: "\f205";
	color: #16a085;
	animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

.toggle input[type="radio"]:disabled + .label-text:before{
	content: "\f204";
	color: #ccc;
}


@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}



i {
     border: solid transparent;
     border-width: 0 0px 0px 0;
     display: inline-block;
    padding: 0px;
}
iframe{
  border-radius: 20px;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    font-size: 25px;
    width: 25%;
    font-weight: 800;

  }
.card-img-top{
  width:100%;

}
hr{
margin-top: 0px;
margin-bottom:0px;
   }

.project-tab {
    padding: 10%;
    margin-top: -8%;
    margin-right: -8%;
    margin-left: 8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.card {
   -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
   box-shadow: 0 3px 10px rgba(0,0,0,0.6);
}
.carda {
   margin-top: 2%;
   border-radius: 10px ! important;
   min-height: 350px;
   max-height: 400px;
   background: #eeeeee ! important;
}
.img-rounded {
   border-radius: 40px ! important;
}
.card-text {

       font-weight: 500;
    font-size: 15px;
}
.para {
       font-weight: 500;

    font-size: 20px;
}
.self {
   position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.sec_card
{   color: black;
    height: 56px;
      position:absolute;                  /* added */
   bottom:0;                           /* added */
   left:0;
   width: 100%;
    background-color: #eeeeee;
   border-radius: 20px;
}

.btnn {
  cursor: pointer;
  background: #fff;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
    height: 95px;
    width: 63   px;
}

.btnn:hover,
.btnn:focus {
  background: #fff;
}

.btnn:active {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}
#m{
    margin-left: 40px;
             border: none;
             background-color: lightgray;

    height: 80px;
    width: 182px;
         }
.card-img-top {
   height: 186px;
}
.card-body{
  padding:0rem!important;
}
p{
  word-wrap: break-word;
}

.col-md-4{
  float:left!important;
}
.mb-3{
  margin-left: 1rem;
}




.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */

    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}
.col-xs-6{
  display:-webkit-box;
  margin-top: 1rem;
}

@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
      display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
      transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -25%;
      z-index: -1;
      display: block;
      visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }

}
.carousel-control-next, .carousel-control-prev{

background-color: black;
width: 5%;
}
